@model GameOfLifeClean.Models.Block

@{
    ViewData["Title"] = "Home Page";
}

<div align="center">
    <h1> Game of life </h1>

    <head>
        <title>Game of Life</title>
        
    </head>    
    
    <body>
        <canvas id="gameOfLife" width='600px' height='600px' style='border:1px solid #000000;'>
            Your browser does not support html5
        </canvas>
    </body>

    @using (Html.BeginForm())
    {
        <input align="right" type="color" id="userColor" value="Select Color" />
    }
    
    <Button id="Start" OnClick="Start()" text="Start">Start</Button>
    <Button id="Stop" OnClick="Stop()" text="Stop">Stop</Button>

    <script type="text/javascript" src="~/js/site.js"></script>
    <script type="text/javascript" src="~/js/webSocketManager.js"></script>
</div>