@model GameOfLifeClean.Models.Block

@{
    ViewData["Title"] = "Home Page";
}

<div align="center">
    <h1> Game of life </h1>

    <head>
        <title>Game of Life</title>
        
    </head>    

        <script type="text/javascript" src="~/js/site.js">
            //GameManager.Instance.Initialize(); to start the game
            function startGame() {
                $.ajax({
                    type: "POST",
                    url: 'GameManager.cs/GameManager.Instance.Initialize',
                    data: "";
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {
                        $("#divResult").html("success");
                    },
                    error: function (e) {
                        $("#divResult").html("Something bad happened.");
                    }

                });
            }

            //need to write csharp stop code
            function stopGame() {
                $.ajax({
                    type: "POST",
                    url: 'GameManager.cs/GameManager.Instance.StopTime',
                    data: "";
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {
                        $("#divResult").html("success");
                    },
                    error: function (e) {
                        $("#divResult").html("Something bad happened.");
                    }

                });
            }
        </script>

    <script type="text/javascript" src="~/js/site.js"></script>

    <body onload="drawGrid();">
        <canvas id="gameOfLife" width='600px' height='600px' style='border:1px solid #000000;'>
            Your browser does not support html5
        </canvas>
    </body>

    @using (Html.BeginForm())
    {
        <input align="right" type="color" id="userColor" value="Select Color" />
    }

    <Button id="Start" OnClick="Start()" text="Start">Start</Button>
    <Button id="Stop" OnClick="Stop()" text="Stop">Stop</Button>

</div>